// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";
/*$fa-font-path:        "../webfonts";*/
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~admin-lte/dist/css/adminlte.css";
@import "~font-awesome/scss/font-awesome.scss";

/*@import '~/@fortawesome/fontawesome-free/scss/fontawesome.scss';*/
/*@import '~/@fortawesome/fontawesome-free/scss/solid.scss';*/
/*@import '~/@fortawesome/fontawesome-free/scss/brands.scss';*/
/*@import '~/@fortawesome/fontawesome-free/scss/regular.scss';*/

.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.router-link-active {
	background-color: #0D6E97;
	text-shadow: 1px 1px 2px black;
	color: white !important;
}
