<template>
    <div class="container" dir="rtl">
        <div class="row" v-if="$gate.isAdminOrAuthor()">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">لیست کاربران</h3>
                        <div class="card-tools" v-if="$gate.isAdmin()">
                            <button
                                    type="submit"
                                    class="btn btn-success"
                                    @click="newModal"
                            >
                                <i class="fa fa-user-plus"></i> ساخت کاربر جدید
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-center">
                            <tr>
                                <th>ID</th>
                                <th>نام</th>
                                <th>نام کاربری</th>
                                <th>ایمیل</th>
                                <th>نقش</th>
                                <th>وضعیت</th>
                                <th>تاریخ عضویت</th>
                                <th v-if="$gate.isAdmin()">عملیات</th>
                            </tr>
                            <tr v-for="user in users.data" :key="user.id">
                                <td>{{user.id}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.type}}</td>
                                <td>
                                    <span class="badge bg-success p-1">
                                        {{user.status == 1 ? 'فعال' : 'تایید نشده'}}
                                    </span>
                                </td>
                                <td>{{user.created_at}}</td>
                                <td style="font-size: 18px;" v-if="$gate.isAdmin()">
                                    <a href="" @click.prevent="editModal(user)">
                                        <i class="fa fa-edit text-info" title="ویرایش"></i>
                                    </a>&nbsp;
                                    <a href="" @click.prevent="deleteUser(user.id)">
                                        <i class="fa fa-trash text-danger" title="حذف"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <pagination :data="users" @pagination-change-page="getResults"></pagination>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>

        <div v-else>
            <not-found/>
        </div>

        <!-- The Modal -->
        <div class="modal fade text-right" id="userAddModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form @submit.prevent="editMode ? updateUser() : createUser()"
                          @keydown="form.onKeydown($event)">
                        <!-- <alert-error :form="form" /> -->

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" v-if="!editMode">ساخت کاربر جدید</h4>
                            <h4 class="modal-title" v-else>ویرایش کاربر </h4>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name">نام و نام خانوادگی</label>
                                <input
                                        id="name"
                                        v-model="form.name"
                                        type="text"
                                        name="name"
                                        class="form-control"
                                        :class="{ 'is-invalid': form.errors.has('name') }"
                                />
                                <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="password">رمز عبور</label>
                                <input
                                        id="password"
                                        v-model="form.password"
                                        type="password"
                                        name="password"
                                        class="form-control"
                                        :class="{ 'is-invalid': form.errors.has('password') }"
                                />
                                <has-error :form="form" field="password"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="email">ایمیل</label>
                                <input
                                        id="email"
                                        v-model="form.email"
                                        type="email"
                                        name="email"
                                        class="form-control"
                                        :class="{ 'is-invalid': form.errors.has('email') }"
                                />
                                <has-error :form="form" field="email"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="phone">شماره موبایل</label>
                                <input
                                        id="phone"
                                        v-model="form.phone"
                                        type="number"
                                        name="phone"
                                        class="form-control"
                                        :class="{ 'is-invalid': form.errors.has('phone') }"
                                />
                                <has-error :form="form" field="phone"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="role">نقش کاربر</label>
                                <select
                                        id="role"
                                        v-model="form.type"
                                        name="type"
                                        class="form-control"
                                        :class="{ 'is-invalid': form.errors.has('type') }"
                                >
                                    <option value="">یک نقش انتخاب کنید</option>
                                    <option value="1">مدیر</option>
                                    <option value="2">پشتیبان</option>
                                    <option value="3">کسب و کار</option>
                                    <option value="4">کاربر عادی</option>
                                </select>
                                <has-error :form="form" field="type"></has-error>
                            </div>

                            <div class="form-group ">
                                <label for="active">
                                    <input
                                            name="status"
                                            id="active"
                                            type="radio"
                                            value="1"
                                            :class="{ 'is-invalid': form.errors.has('status') }"
                                            v-model="form.status"
                                    />
                                    فعال
                                </label>
                                <label for="inActive">
                                    <input
                                            name="status"
                                            type="radio"
                                            id="inActive"
                                            value="0"
                                            :class="{ 'is-invalid': form.errors.has('status') }"
                                            v-model="form.status"
                                    />
                                    غیرفعال
                                </label><!-- Also show for single checkbox with true/ false -->
                                <has-error :form="form" field="status"></has-error>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" v-if="!editMode">ایجاد کن</button>
                            <button type="submit" class="btn btn-warning" v-else>ویرایش کن</button>
                            <button
                                    type="button"
                                    class="btn btn-danger mr-1"
                                    data-dismiss="modal"
                            >
                                کنسل
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {Form} from "vform";

    export default {
        data() {
            return {
                users: {},
                // Create a new form instance
                form: new Form({
                    id: "",
                    name: "",
                    password: "",
                    email: "",
                    phone: "",
                    status: "",
                    type: ""
                }),
                editMode: false
            };
        },

        methods: {
            loadUsers() {
                if (this.$gate.isAdminOrAuthor()) {
                    axios.get("api/user").then(({data}) => (this.users = data));
                }
            },
            createUser() {
                /*progress Bar plugin*/
                this.$Progress.start();

                /*Submit the form via a POST request*/
                this.form.post("/api/user")
                    .then(() => {
                        /*for refresh page after creating user*/
                        Fire.$emit('loadUsersAction');

                        /*hide modal after register*/
                        $('#userAddModal').modal('hide');

                        /*show success toast*/
                        Toast.fire({
                            type: 'success',
                            title: 'کاربر جدید ایجاد شد'
                        });

                        /*progress Bar plugin*/
                        this.$Progress.finish();
                    })
                    .catch();
            },
            deleteUser(id) {
                Swal.fire({
                    title: 'آیا مطمئن هستید؟',
                    text: 'حذف کاربر غیرقابل بازگشت است',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'بله پاکش کن',
                    cancelButtonText: 'نه لازم نیست',
                }).then((result) => {
                    if (result.value) {
                        /*Send request to the server*/
                        this.form.delete('api/user/' + id)
                            .then(() => {
                                Swal.fire(
                                    '!حذف شد',
                                    'کاربر با موفقیت حذف شد',
                                    'success'
                                );
                                Fire.$emit('loadUsersAction');
                            })
                            .catch(() => {
                                Swal.fire('انجام نشد', 'یه مشکلی هست', 'warning');
                            });
                    }

                })
            },
            newModal() {
                this.editMode = false;  /*for changing modal and form for creating*/
                this.form.reset();
                $('#userAddModal').modal('show');
            },
            editModal(user) {
                this.editMode = true;  /*for changing modal and form for updating*/
                this.form.reset();
                $('#userAddModal').modal('show');
                this.form.fill(user);
            },
            updateUser() {
                this.$Progress.start();
                this.form.put('api/user/' + this.form.id)
                    .then(() => {
                        $('#userAddModal').modal('hide');
                        Swal.fire(
                            '!ویرایش شد',
                            'کاربر با موفقیت ویرایش شد',
                            'success'
                        );
                        Fire.$emit('loadUsersAction');
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    });
            },
            getResults(page = 1) {
                axios.get('api/user?page=' + page)
                    .then(response => {
                        this.users = response.data;
                    });
            }
        },
        created() {
            this.loadUsers();
            // setInterval(() => this.loadUsers(), 3000);
            Fire.$on('loadUsersAction', () => {
                this.loadUsers();
            });

            /*if searching emit is running , run ()=>{}*/
            Fire.$on('searching', () => {
                let query = this.$parent.search; //go to parent that is app.js and use search in data{}
                axios.get('api/findUser?q=' + query)
                    .then((data) => {
                        this.users = data.data
                    });
            });
        }
    };
</script>